 .jumbotron {
    background-color: yellow;
    color: black;
    marging-top: 50px;
  }
  
  .footer {
     padding: 10px 0px 0 10px;
     background-color: yellow;
     margin-bottom: 0px;
     margin-top: 10px;
  }
  
  .card-Taladros {
    flex: 1 100px;
    margin-top: 10px;
  }
  
  .btn-reserve {
    width: 50%;
    border-radius: 30%;
  }
  
  .footer-address-icon {
    padding-right: 10px;
  }
  
  .tab-content {
    padding-top: 20px;
  }

  .jumbotron {
      