<body>
    
 <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-secondary">1</button>
    <button type="button" class="btn btn-secondary">2</button>
    <button type="button" class="btn btn-secondary">3</button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <button type="button" class="btn btn-secondary">5</button>
    <button type="button" class="btn btn-secondary">6</button>
    <button type="button" class="btn btn-secondary">7</button>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button type="button" class="btn btn-secondary">8</button>
  </div>


</div>
<!-- cards taladros e info -->
<div class="d-flex flex-wrap flex-row-reverse">
<div class="card card-hotel d-flex flex-column justify-content-between ml-2">
<div class="card-header">
 <h5 class="card-title">Taladro</h5>
   <h6 class="card-title text-muted">España</h6>
  <img class="card-img-top" src="/images/1.jpg" alt="Taladro">
</div>
<div>
<button class="btn btn-primary btn-reserva" data-toggle="popover" title="Consultá las promociones vigentes"> Ordenar</button>  
</div>
</div>         
<div class="d-flex flex-wrap flex-row-reverse">
<div class="card card-hotel d-flex flex-column justify-content-between ml-2">
<div class="card-header">
<div class=" card-hotel flex-column justify-content-between">
<h5 class="card-title" data-toggle="tooltip" data-placement="top" title="Las primeras reservas cuentan con clases de tango gratis"> </h5> 
<h4>Makita</h4>
<h6 class="card-title text-muted">Makita</h6>
<img class="card-img-top" src="/images/2.jpg" alt="Taladro">
</div>
<button class="btn btn-primary btn-reserva" data-toggle="popover" title="promociones vigentes"> Ordenar</button>

</div>         
<div class="d-flex flex-wrap flex-row-reverse">
<div class="card card-hotel d-flex flex-column justify-content-between ml-2">
<div class="card-header">
<div class=" card-hotel d-flex flex-column justify-content-between">
<h4 class="card-subtitle">Taladro</h5>
<h6 class="card-subtitle text-muted">Perú</h6>
<img class="card-img-top" src="/images/3.jpg" alt="hotel">
</div>
<button class="btn btn-primary btn-reserva" data-toggle="popover" title="Consultá las promociones vigentes"> Ordenar</button>
</div>         
<div class="d-flex flex-wrap flex-row-reverse">
<div class="card card-hotel d-flex flex-column justify-content-between ml-2">
<div class="card-header">
<div class="card-hotel d-flex flex-row justify-content-between">
<h4 class="card-title">Hotel Rio de Janeiro</h5>
<h6 class="card-subtitle text-muted">Brasil</h6>
<img class="card-img-top" src="images/riodejaneiro.jpg" alt="hotel">
</div>
<div>
<button class="btn btn-primary btn-reserva" data-toggle="popover" title="Consultá las promociones vigentes"> Ordenar</button>
<div class="d-flex flex-wrap flex-row-reverse">
<div class="card card-hotel d-flex flex-column justify-content-between ml-2">
<div class="card-header">
<div class="card-hotel d-flex flex-row justify-content-between"> 
<h4 class="card-title">Hotel La Paz</h5>
<h6  class="card-subtitle text-muted">Bolivia</h6>
<img class="card-img-top" src="images/4.jpg" alt="hotel">
<p class="card-text">Hotel ubicado en pleno centro.</p>
</div>
</div>
<button class="btn btn-primary btn-reserva" data-toggle="popover" title="Consultá las promociones vigentes"> Ordenar</button>

</div>          
<div class=" card-hotel d-flex flex-column justify-content-between ml-2">
<div class="card-header">
<div class="card-hotel d-flex flex-column justify-content-between">
<h5 class="card-title">Hotel Madrid</h5>
<h6 class="card-subtitle text-muted">España</h6>          
<img class="card-img-top" src="images/5.jpg" alt="hotel">
</div>
</div>
<button class="btn btn-primary btn-reserva"   data-toggle="popover" title="Consultá las promociones vigentes"> Ordenar</button>
</div>
</div>          
<div class=" card-hotel d-flex flex-column justify-content-between ml-2">
<div class="card-header">
<div class="card-hotel d-flex flex-column justify-content-between">
<h5 class="card-title">Hotel San Pablo</h5>
<h6 class="card-subtitle text-muted">Brasil</h6>
<img class="card-img-top" src="images/6.jpg" alt="hotel">
<div>
<p class="card-text">Hotel ubicado en pleno centro.</p>
</div>
</div>
<button class="btn btn-primary btn-reserva" data-toggle="popover" title="Consultá las promociones vigentes"> Ordenar</button>
</div>          
</div>    


</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>

<button name="favorite">
    <svg aria-hidden="true" viewBox="0 0 10 10"><path d="M7 9L5 8 3 9V6L1 4h3l1-3 1 3h3L7 6z"/></svg>
    Add to favorites

    
        
    </body>